#ParallaxExample { 
	height: 100%;
	overflow: hidden;
 }
 #ParallaxExample{
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #000;
 }
 #ParallaxExample h1 {
	font-family: 'sans-serif';
	font-size: 1.5em;
	color: #fff;
	text-shadow: 2px 2px rgb(0, 0, 0, .7);
	text-align: center;
 }
 #ParallaxExample p {
 	font-family: 'sans-serif';
 	font-size: .8em;
 	color: #fff;
 	text-align: center;
 }
 #ParallaxExample .peSlide {
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
	padding: 25% 10%;
	position: relative;
	transform-style: inherit;
 }
 #ParallaxExample .peSlide::before {
 	content: "";
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left:0;
 	min-height: 100%;
 }
 #ParallaxExample .peSlide, #ParallaxExample .peSlide::before {
	 background: 50% 50% / cover;
 }

 #ParallaxExample #PEintro {
	background-image: url('image1.jpg');
	z-index: 302;

}
#ParallaxExample #PEslide1:before {
	background-image: url('image2.jpg');
	transform: translateZ(-1px) scale(2);
	z-index: 301;

}
#ParallaxExample #PEslide2 {
	background-image: url('image3.jpg');
	z-index: 302;
}
#ParallaxExample #PEslide3::before {
	background-image: url('image3.jpg');
	transform: translateZ(-1px) scale(2);
	z-index: 301;
}
#ParallaxExample #PEslide4 {
   background-color: black;
   z-index: 302;

}
#ParallaxExample #PEslide5::before {
	background-image: url('image4.jpg');
	transform: translateZ(-1px) scale(2);
	z-index: 301;
}
#ParallaxExample #PEslide6 {
	background-color: black;
	z-index: 302;
}

#ParallaxExample #footer {
	font-size: .6em;
	font-weight: 100;
	max-height:10%;
 }