#photo .hashLink {
    text-decoration: none;
}
#photo .scrollArrow{
    position: absolute;
    bottom: 0vh;
    left: 50%;
    transform: translate(-50%);
    margin: 60px auto;
    width:6em;
    height: 2.5rem;
    /* border: 2px solid var(--secondary-accent); */
    /* border-radius: 5px; */
    background-image:url('../images/downArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(100%);
    opacity: .5;
    transition: all .7s ease-in-out;
}

#photo .upArrow{
    background-image:url('../images/upArrow.png');
}

#photo .scrollArrow:hover {
    opacity: 1;
    width:100%;
    background-repeat: repeat-x;
    background-color: var(--secondary-accent);
    box-shadow: 1px 1px 50px var(--secondary-accent);

}