
#web {
    transition: all .5s;
}
#web .byebye{
    opacity: 0;
}
#examples{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button {
    word-spacing: 0.25em;
   text-transform: uppercase;
   border: none;
   margin: 10px 0px;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}
#web .hashLink {
    text-decoration: none;
}
#web .scrollArrow{
    position: absolute;
    left: 50%;
    bottom: -5vh;
    transform: translate(-50%);
    margin: 60px auto;
    width:6em;
    height: 2.5rem;
    /* border: 2px solid var(--secondary-accent); */
    /* border-radius: 5px; */
    background-image:url('../images/downArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(100%);
    opacity: .5;
    transition: all .7s ease-in-out;
}
#web #slide1 .scrollArrow{
    bottom: 0vh;
}
#web .upArrow{
    top: -5vh;
    background-image:url('../images/upArrow.png');
}
#web  #pageUp{
    top: 81.5vh;
    background-image:url('../images/upArrow.png');
}

#web .scrollArrow:hover {
    opacity: 1;
    width:100%;
    background-repeat: repeat-x;
    background-color: var(--secondary-accent);
    box-shadow: 1px 1px 50px var(--secondary-accent);

}

button {
    transition: all .6s;
}
button:hover {
    transform: scale(1.1);
    color: var(--primary-font-color);
}




