/* web css */
#web .inner-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    position: relative;
}
#web .hashLink {
    text-decoration: none;
    position: absolute;
    bottom: 10vh;
}
#web .scrollArrow{
    padding: 0 1em;
    opacity: .5;
    background-image:url('../images/downArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(100%);
}
/* Individual Modals */
#emailCapture {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    max-width:420px;
    height:25vh;
    max-height: 200px;
}
#viewEditEmailList {
    position: absolute;
    justify-content: flex-start;
    height: 60vh;
    top:-15vh;
    left:0;
    padding: 60px 10px 10px 30px;
}
#viewEditEmailList h1  {
    width:95%;
    margin: 0 0px 8px 0px;
}


#contactFormExample{
    position: absolute;
    top: -15vh;
    left: 0vw;
}
.bucket-container{
    margin-top:1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}
#web .bucket {
    width:200px;
    height:250px;
    flex-grow: 1;
    border: 1px solid var(--primary-accent);
}



