/* Main Colors */
:root {
    --warning: #d50000;
    --caution: #fdd835;
    --success: #64dd17;
  }
#alertMessage {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width:25vw; */
    border: 3px solid var(--secondary-accent);
    border-radius: 5px;
    /* background-image: linear-gradient(to bottom left, var(--secondary-bg-color), var(--third-bg-color)); */
    background-color: var(--main-bg-color);
    padding:0px;
    font-size: 1em;
    z-index: 10;
    transition: all 2s ease-out;
}
#alertBody{
    padding: 25px;
    font-size: .8em;
    word-wrap: break-word;
}
#alertTitle{
    padding: 15px;
    color: var(--primary-font-color);
}
.success {
    background: var(--success);
}
.caution {
    background: var(--caution);
    color: var(--inverse-font-color) !important;
}
.warning {
    background: var(--warning);
}

.disapear {
    opacity:0;
}


@media screen and (max-width: 900px){
    #alertMessage{
        position: fixed;
        top: 50%;
        left: 50%;
        width:99.5%;
        padding:0px;
    }
}