/* Full Page-Modal CSS */
.fullpage-modal *{
    margin: 0;
    padding: 0;
    color: #000;
}
.fullpage-modal{
    /* display:none; */
    width:95vw;
    height:90vh;
    background: #fff;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 5%);
    border: 3px solid var(--secondary-accent);
    border-radius: 5px;
    padding:15px 0px 0px 0px;
    font-size: 1em;
    color: var(--primary-font-color);
    z-index: 300;
    box-shadow: 3px 3px 15px var(--third-bg-color);
    overflow-y: scroll;
 	overflow-x: hidden;
}
.fullpage-modal-title {
    font-size: .8em;
    margin-bottom: 20px;
}
.modal-close {
    font-size: 1.8em;
    float: right;
    margin: -10px 15px 0 -15px;
    font-weight: 500;
    cursor: pointer;
    
}
.modal-close:hover{
    color: var(--primary-accent);
}
.fullpage-modal main {
    height:100%;
    overflow-y: scroll;
 	overflow-x: hidden;
}

@media screen and (max-width: 900px){
    .fullpage-moda{
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:99.5vw;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        padding:20px;
        font-size: 1em;
    }
}