/* Modal Container CSS */
.modal-container{
    /* display:none; */
    width:50vw; 
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 3px solid var(--secondary-accent);
    border-radius: 5px;
    /* background-image: linear-gradient(to bottom left, var(--secondary-bg-color), var(--third-bg-color)); */
    background-color: var(--main-bg-color);
    padding:15px 20px 35px 20px;
    font-size: 1em;
    color: var(--primary-font-color);
    z-index: 3;
    /* box-shadow: 3px 3px 15px var(--third-bg-color); */
    transition: all 1s ease-out;
}
.modal-container:hover {
    border:3px solid var(--primary-accent);
    box-shadow:1px 1px 30px var(--secondary-accent);

}
.modal-title {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.modal-close {
    font-size: 1.8em;
    float: right;
    margin: -15px 0px 0 5px;
    font-weight: 500;
    cursor: pointer;
    
}
.modal-close:hover{
    color: var(--primary-accent);
}

@media screen and (max-width: 900px){
    .modal-container{
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:99.5vw;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        padding:20px;
        font-size: 1em;
    }
}