#simpleSiteExample *{
    margin: 0;
    padding: 0;
}

#simpleSiteExample {
    position: relative;
    
}

 #simpleSiteExample header nav ul{
     background-color: #fff;
     width:100%;
 }
 #simpleSiteExample header nav ul li:first-child {
     font-size:2em;
 }
 #simpleSiteExample header nav ul li{
     margin: 0 15px 0 0;
     cursor: pointer;
 }

 #simpleSiteExample main {
     height: 90%;
}

#simpleSiteExample footer {
  
}